<h1 class="burger-time">Time to eat a delicious Burger!</h1>

<h2 class="burger-time">Tasty Burgers to eat:</h2>

<ul id="not-eaten">
  {{#each burgers}}
  {{#unless devour}}
  {{> burgers/burger-block devour=true}}
  {{/unless}}
  {{/each}}
</ul>

<h2 id="eaten">Burgers that you have eaten!</h2>

<ul id="menu">
  {{#each burgers}}
  {{#if devour}}
  <li>
    {{burger_name}}
  </li>
  {{/if}}
  {{/each}}
</ul>


<form class="create-form add-burger">

  <div class="form-group">
    <input type="text" id="ca" name="name" placeholder="Add a burger">
  </div>

  <button id="btn-change" type="submit">Add burger</button>
</form>